.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: 10px;
  box-shadow: 0 0 10px #888;
  width: 100%;
  margin: 3rem auto;
  font-style: 22px;
  text-align: center;
  font-style: bold;
  font-size: larger;
  max-width: 300px;
  border-radius: 100px;
}

.x-score{
    color: var(--xcolor);
    width: 100%;
    padding: 15px;
    font-weight:900;
}
.o-score{
    color: var(--ocolor);
    width: 100%;
    padding: 15px;
    font-weight:900;

}

.xplay{
  border-bottom: 3px solid var(--xcolor) ;
  margin-left: 30px;
}
.oplay{
  border-bottom: 5px solid var(--ocolor) ;
}